2023秋交换代数[[:space:]]李文威.pdf filter=lfs diff=lfs merge=lfs -text
Advanced[[:space:]]Modern[[:space:]]Algebra[[:space:]]Part[[:space:]]1[[:space:]](Joseph[[:space:]]J.[[:space:]]Rotman)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
几何迭代法及其应用-book-蔺宏伟.pdf filter=lfs diff=lfs merge=lfs -text
代数基本概念[[:space:]]by[[:space:]]I.R.Shafarevich[[:space:]](z-lib.org)_含目录.pdf filter=lfs diff=lfs merge=lfs -text
复旦大学高等代数习题集[[:space:]]2023版[[:space:]](谢启鸿)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
抽象代数.pdf filter=lfs diff=lfs merge=lfs -text
K.[[:space:]]Hoffman,[[:space:]]R.[[:space:]]Kunze[[:space:]]Linear[[:space:]]Algebra[[:space:]](2nd[[:space:]]Edition).pdf filter=lfs diff=lfs merge=lfs -text
Numerical[[:space:]]Linear[[:space:]]Algebra[[:space:]]with[[:space:]]Applications[[:space:]]Using[[:space:]]MATLAB.pdf filter=lfs diff=lfs merge=lfs -text
中国科学技术大学数学丛书·代数学I[[:space:]]代数学基础[[:space:]](欧阳毅[[:space:]]申伊塃)[[:space:]].pdf filter=lfs diff=lfs merge=lfs -text
线性代数应该这样学课后答案（第二版）[[:space:]](1).pdf filter=lfs diff=lfs merge=lfs -text
胡适耕·高等代数：定理·问题·方法.pdf filter=lfs diff=lfs merge=lfs -text
许以超·线性代数与矩阵论.pdf filter=lfs diff=lfs merge=lfs -text
高等代数的思维方法（孔祥智）.pdf filter=lfs diff=lfs merge=lfs -text
[Joachim[[:space:]]Kock][[:space:]]Frobenius[[:space:]]algebras[[:space:]]and[[:space:]]2D[[:space:]]TQFT.pdf filter=lfs diff=lfs merge=lfs -text
全国大学生数学竞赛解析教程（数学专业类）（下册）——高等代数与解析几何.dec.pdf filter=lfs diff=lfs merge=lfs -text
数值线性代数.pdf filter=lfs diff=lfs merge=lfs -text
线性代数应该这样学课后答案（第二版）.pdf filter=lfs diff=lfs merge=lfs -text
Applied[[:space:]]Numerical[[:space:]]Linear[[:space:]]Algebra.pdf filter=lfs diff=lfs merge=lfs -text
Numerical[[:space:]]Linear[[:space:]]Algebra[[:space:]]by[[:space:]]Trefethen[[:space:]]and[[:space:]]Bau.pdf filter=lfs diff=lfs merge=lfs -text
抽象代数[[:space:]](邓少强，朱富海)[[:space:]](Z-Library)(1).pdf filter=lfs diff=lfs merge=lfs -text
高等代数葵花宝典.pdf filter=lfs diff=lfs merge=lfs -text
丘维声·高等代数（第二版）上册.pdf filter=lfs diff=lfs merge=lfs -text
丘维声·高等代数（第二版）下册.pdf filter=lfs diff=lfs merge=lfs -text
安金鹏讲义1.pdf filter=lfs diff=lfs merge=lfs -text
安金鹏讲义2.pdf filter=lfs diff=lfs merge=lfs -text
李文威·线性代数(B)讲义草稿.pdf filter=lfs diff=lfs merge=lfs -text
高等代数(姚慕生).pdf filter=lfs diff=lfs merge=lfs -text
Basic[[:space:]]Algebra[[:space:]]II[[:space:]]Second[[:space:]]Edition[[:space:]](Nathan[[:space:]]Jacobson)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
Elements[[:space:]]of[[:space:]]the[[:space:]]Representation[[:space:]]Theory[[:space:]]of[[:space:]]Associative[[:space:]]Algebras[[:space:]]Volume[[:space:]]2[[:space:]]Tubes[[:space:]]and[[:space:]]Concealed[[:space:]]Algebras[[:space:]]of[[:space:]]Euclidean[[:space:]]Type[[:space:]](Daniel[[:space:]]Simson,[[:space:]]Andrzej[[:space:]]Skowroski)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
Elements[[:space:]]of[[:space:]]the[[:space:]]Representation[[:space:]]Theory[[:space:]]of[[:space:]]Associative[[:space:]]Algebras[[:space:]]Volume[[:space:]]3,[[:space:]]Representation-infinite[[:space:]]Tilted[[:space:]]Algebras[[:space:]](Daniel[[:space:]]Simson,[[:space:]]Andrzej[[:space:]]Skowronski)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
Selection[[:space:]]Tests[[:space:]]in[[:space:]]Number[[:space:]]Theory[[:space:]]for[[:space:]]Mathematical[[:space:]]Olympiads[[:space:]](2024,[[:space:]]Springer).pdf filter=lfs diff=lfs merge=lfs -text
《普林斯顿微积分读本修订版》PDF.pdf filter=lfs diff=lfs merge=lfs -text
代数学讲义.pdf filter=lfs diff=lfs merge=lfs -text
1_弱点克服[[:space:]]大学生の線形代数[[:space:]]改訂版のコピー.pdf filter=lfs diff=lfs merge=lfs -text
Basic[[:space:]]Algebra[[:space:]]I[[:space:]]Second[[:space:]]Edition[[:space:]](Nathan[[:space:]]Jacobson)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
Elements[[:space:]]of[[:space:]]the[[:space:]]representation[[:space:]]theory[[:space:]]of[[:space:]]associative[[:space:]]algebras,[[:space:]](Assem[[:space:]]I.,[[:space:]]Simson[[:space:]]D.,[[:space:]]Skowronski[[:space:]]A.)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
3_代数基本观念.pdf filter=lfs diff=lfs merge=lfs -text
修考数学练习题-弱点克服大学生の線形代数.pdf filter=lfs diff=lfs merge=lfs -text
线性代数应该这样学（第3版）.pdf filter=lfs diff=lfs merge=lfs -text
